@font-face {
    font-family: 'Raleway';
    src:url('./fonts/Raleway-VariableFont_wght.ttf') format("truetype");
    font-display: swap; /*La période de blocage est extrêmement courte et est suivie par une période d'échange infinie*/
}

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0px;
    font-size: 0.875rem;
    max-width: 1450px; /*max width for desktop version*/
}

a, a:visited {
    text-decoration: none;
	color: #000000;
}

a:hover {
    color:#0065FC ;
}

h1 {
	font-size: 1.4em;
    line-height: 1.2em;
    padding-bottom: 15px;
	font-weight: bold;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1em;
    font-weight: normal;
}

ul {
    list-style: none;
}

.boldtext {
    font-weight: bold;
}

/***************************/
/********** Header *********/
/**************************/
header {    
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    background-color: #fff;
}

.header {
    display: flex;    
    flex-flow: row wrap;
}

#logo {
    order:1;
    margin-right:auto;
}

.nav {
    order:3;
    border-bottom: 0.1em solid #f2f2f2;
}

.nav ul {
    display: flex;
    flex-direction: row;
}

.navLink {
    padding: 1rem 1rem;
    border-top: 0.2em transparent solid;
    border-bottom: 0.2em transparent solid;
}

.navLink:active {
    color: #0065FC;
}

.navLink:hover {
    color: #0065FC;
    border-bottom-color: #0065FC;
}

.navLink[data-active="true"] {
    border-bottom: 0.2em solid #0065FC;
    color: #0065FC;
}

.Signin {
    order:2;
    font-weight: bold;
    color: #0065FC;
    margin: auto 0;
}


@media screen and (min-width: 48em) {
    .nav {
        width: 80%
    }
}
@media screen and (min-width: 64em) {
    .nav {
        order: 2;
        border-bottom: none;
        width: 30%;
    }
    
    .navLink[data-active="true"] {
        border-top: 0.2em solid #0065FC;
        border-bottom: none;
    }

    .navLink:hover {
        border-top-color: #0065FC;
        border-bottom: none;}
}

/*******Slogan******/
.slogan {
    padding: 0.5em 0.5em;
    text-align: left;
    max-width: 98%;
}

.slogan h2 {
    font-weight: normal;
}

/*******barre de recherche******/
.searchbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 40px;
    margin: 20px 0 30px;

}

.searchbar > i {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}

input {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    width: 170px;
    height: 35px;
    padding-left: 20px;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    margin: auto 0;
}

button  {
    cursor:pointer;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    border: none;
    color: white;
}

#loupe {    
    width: 50px;
}

.rechercher {
    display: none;
}

@media all and (min-width: 48em)  {
    #loupe {
        display: none;
    }
    
    .rechercher {
        display: block;
        width: 100px;
    }
}
/********filters******/
.filters {
    display: flex;
    padding-left: 0.8em;
    flex-flow: column wrap;
}

.filters h2 {
    font-size: 1em;
    margin-right:20px;
    margin-top:22px;
    font-weight: bold;
}

.filters button {
    padding-left: 0;
}

.filterbutton {
    background-color: #ffffff;
    color: #000;
    height: 40px;
    padding-right: 15px;
    border: 0.125em solid #f2f2f2;
    border-radius: 2rem;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.filterbutton i {
    height: 40px;
    width: 40px;
    background-color: #deebff;
    margin-right: 15px;
    display: flex;
    border-radius: 35px;
    align-items: center;
    justify-content: center;
}

.filterbutton:hover {
    background-color: #0065FC;
    transform: scale(1.2);
}


@media all and (min-width: 30em)  {
    .filterbutton {
        height: 3.125em;
    }

    .filterbutton i {
        width: 3.125em;
        height: 3.125em;
        line-height: 3.125em;
    }
}

@media all and (min-width: 48em)  {
    .filters {
        
    flex-flow: row wrap;
        max-width: 99%;
    }

    .filters > h2 {
        width: 100%;
    }
}

@media all and (min-width: 64em){		
    .filters > h2 {
        width: unset;
        max-width: 99%;
        align-self: center;
        padding-right: 1em;
    }
}

/********Info******/
#info {
    margin: 35px 0;
  display: flex;
}

#info i {
   height: 25px;
    width: 25px;
    border-radius: 50%;
    color: #0065fc;
    border: 1px solid lightgrey;
    margin-right: 15px;
    text-align: center;
    line-height: 25px;
}

/*********************************/
/******Partie principale**********/
/*********************************/
#container > aside {
	order: 1; /*ON AFFICHE LES PLUS POPULAIRES EN PREMIER*/
}

#container > #hebergement {
	order: 2; /*ON AFFICHE ENSUITE LES HEBERGEMENTS*/
}

#container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: transparent;
}

#hebergement {
    border-radius: 15px;
    background-color: #FFFFFF;
    padding: 2em 1em;
    display: flex;
    justify-content: space-between;
	flex-direction: column;
    max-width: 99%; 
    margin-bottom: 15px;
}

#popular {
    max-width: 100%;
    background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
    padding: 2em 1em;
}

#activites {
    max-width: 100%;
    background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
    padding: 2em 1em;
}

@media all and (min-width: 48em)  {
   #popular {
        padding-bottom: 0;
    }
    
    #hebergement {
        flex-wrap: nowrap;
        flex-direction: column;
        padding-bottom: 0;
        background-color: #F2F2F2;
    }

    #activites {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
}

@media all and (min-width: 64em){		
    #container {
       flex-direction: row-reverse;
       flex-wrap: nowrap;
    }

    #hebergement {
        background-color: #F2F2F2;
        border-radius: 1.5rem;
        padding: 2rem;
        width: 66%;
        border-right: 1em solid #FFFFFF;
    }

    #popular {
        width: 33%;
        border-left: 1em solid #FFFFFF;
        background-color: #F2F2F2;
        border-radius: 1.5rem;
        padding: 2rem;
    }

    #activites {
        max-width: 97%;
    }
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    border-radius: 1.25em;
    box-shadow: 0 0 1em #F2F2F2;
}

.card  a {
    display: block;
    flex-basis: 0;
    padding: 5px 5px 10px 5px;
    flex-grow: 1;
    min-width: 220px;
    width: 100%;
    height: 100%;
}

.card-content {
	display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100% - 15vh);
}

.card-content h3 {
    margin: 0.25rem 0.75rem 0 0.75rem;
	font-weight: bold;
}

.card-content p {
	margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}

.rating {
   margin: 1rem 0.75rem 0.25rem 0.75rem;
}

.greystars {
    color: grey;
}

.bluestars{
    color: #0065FC;
}

.plus {
    font-size: 1em;
    font-weight: bold;
}

@media all and (min-width: 30em) {	
    .card {
       justify-content: unset;
       flex: 1 1 calc(96% - 1em);
    }
}

/*******HEBERGEMENT*******/
#hebergement .card + .card {
    margin-top: 1em;
    margin-bottom: 1em;
}

#hebergement picture img {
    height: 15vh;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 1.56em;
    border-top-right-radius: 1.56em;
}

@media all and (min-width: 30em) {	
    #hebergement picture img {
        width: 100%;
        height: 20vh;
    }
}

@media all and (min-width: 48em)  {
    #hebergement .cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #hebergement .card {
        display: flex;
        flex: 0 1 calc(50% - 1em);
    }
}

@media all and (min-width: 64em){	
    #hebergement .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #hebergement .card {
        flex: 0 1 calc(32% - 1em);
        overflow: hidden;
        margin: 0 0.5rem;
    }

    #hebergement .card + .card {
        margin-top: 0;
        margin-bottom: 1em;
    }

    #hebergement .card:first-child {
        margin-bottom: 1em;
    }

    #hebergement .card-content  {
        flex-flow: column nowrap;
        justify-content: unset;
    }
   
    #hebergement .card-title + .rating {
        padding-top: 0;
    }
    
    .card-content {
        height: calc(100% - 10vh);
    }
}
/*******POPULAR*******/
.popular_title {
    display: flex;
   justify-content: space-between;
    flex-flow: row nowrap; 
    margin-right: 1em;
    align-items: baseline;
}

.popular_title a {
    text-align: center;
    margin-left: auto;
    margin-right: 1.5em;
    font-size: 1.2em;
}

#popular .card {   
    height: 10em;
}

#popular .card > a {
    display: flex;
    flex-wrap: nowrap;
}

#popular .card + .card {
    margin-top: 1em;
}

#popular picture {
    margin: 0;
    position: relative;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
}

#popular picture img {
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#popular .card-content {
    padding-bottom: 0.5em;
}

@media all and (min-width: 64em){
    #popular .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #popular .card {
        width: calc(33% - 1em);
        overflow: hidden;
    }
   
    .popular_title {
        width: unset;
    }

    #popular .card-content  {
        flex-flow: column nowrap;
        justify-content: space-between;
    }

    #popular .card-title + .rating {
        padding-top: 0;
    }
}
/*******ACTIVITIES*******/
#activites .card {
    flex-wrap: wrap;
    margin: 1em 0;
}

#activites .card > a { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#activites .card-title + .rating {
    padding-top: 1em;
}

#activites .card + .card {
    margin-top: 1em;
    margin-bottom: 1em;
}

#activites picture img {   
    display: block;
    max-width: 100%;
    width: 100%;
    height: 20vh;
    object-fit: cover;
    border-top-left-radius: 1.56em;
    border-top-right-radius: 1.56em;
}

@media all and (min-width: 30em) {
    #activites picture img {
        width: 96vw;
        height: 25vh;
    } 
}

@media all and (min-width: 48em)  {
    #activites .card {
        display: flex;
        flex: 0 1 calc(50% - 1em);
    }

    #activites .card > a {
        flex-wrap: nowrap;
    }    
}

@media all and (min-width: 64em){
    #activites .cards {
        display: flex;
        flex-direction: column ;
        flex-wrap: wrap;
        max-height: 70vh;
        justify-content: unset;
        padding: 0;
    }

    #activites .card {
        flex: 0 1 calc(20% - 1em);
        max-height: 100%;
    }

    #activites .cards .z1 {
        margin-left: 0;
    }

    #activites .cards > .card:nth-child(1) {  
        width: calc(20% - 1em);
    }

	#activites .cards > .card:nth-child(2) { 
        width: calc(25% - 1em);
        max-height: 30vh;
    }

	#activites .cards > .card:nth-child(3) { 
        width: calc(25% - 1em);
        max-height: 30vh;
        margin-top: 1.5em;
        padding-top: 0;
    }

    #activites .cards > .card:nth-child(4) {  
        width: calc(25% - 1em);
        max-height: 68vh;
        height: 65vh;
    }

	#activites .cards > .card:nth-child(5) { 
        width: calc(25% - 1em);
        max-height: 30vh;
    }

	#activites .cards > .card:nth-child(6) { 
        width: calc(25% - 1em);
        max-height: 30vh;
        margin-top: 1.5em;
        padding-top: 0;
    }
   
    #activites .z1 picture img,
    #activites .z4 picture img {
        width: 100%;
        height: 45vh;
    }

    #activites .z2 picture img, #activites .z3 picture img,
    #activites .z5 picture img,  #activites .z6 picture img {
        width: 100%;
        height: 15.5vh; 
    }

    #activites .card-content {
        max-height : 18vh;
        height: 6vh;
        padding-top: 1em;
        text-align: center;
        vertical-align: middle;
    }
}

/* Fin de la section principale*/

/************************/
/*** Début du footer*****/
/************************/
footer {
    background-color: #f2f2f2;
    line-height: 2em;
    padding: 38px 25px 20px 25px;
  }

#footer-container {
    width:70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

footer div {
    width: 98%;
    padding: 0;
    margin: 0 1rem ;
}

footer div a {
    display: block;
    margin: 1rem 0;
}

footer div a:first-child {
    margin-top: 0;
}

footer div a:last-child {
    margin-bottom: 0;
}
 

@media all and (min-width: 48em)  {
    #footer-container {width:90%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}
/*********************************************/
/****************Large screens****************/
/*********************************************/
/*********************/
@media all and (min-width: 80em) {
    body { 
        max-width: 90rem; 
        margin-left: auto;
        margin-right: auto;
    }

    header {
        max-width: 90rem;
    }

    #container {
        justify-content: space-around;
    }

    #hebergement {
        width: 66vw;
    }

    #popular {
        width: 33vw;
    }

    #activites .cards {
        max-height:  75vh;
    }

    #activites .cards > .card:nth-child(3) { 
        margin-top: 1.5em;
    }	

    #activites .cards > .card:nth-child(5) { 
        margin-top: 1.5em;
    }	
}