 @font-face {
    font-family: 'Raleway';
    src:url('./fonts/Raleway-VariableFont_wght.ttf') format("truetype");
    font-display: swap;
}

html, body, div, h1, h2, h3, h4, h5, h6, p, blockquote, a, img, small, strong, sub, sup, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, nav, button, section, header, footer, title {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	color: #000000;
}

html {
	box-sizing : border-box; /* retire les marges internes et bordures des dimensions de la boite */
}

*, *::before, *::after {
	box-sizing: inherit;
}

* {
	font-family: 'Raleway', Arial, sans-serif;
}

body {
	padding: 0;
	margin: 0;
	display: flex;
	flex-flow: column nowrap;
}

body >* {
	flex: 100%;
}

a, a:visited {
    color:#000000 ;
    text-decoration: none;
}

a:hover {
    color:#0065FC ;
}

h1 {
	font-size: 1.4em;
	font-weight: bold;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1em;
    font-weight: normal;
}

section {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	padding-bottom: 1.2em;
    padding-top: 1.5em;
	/*margin: 0.5em 1em;*/
}

.button {
	display: inline-block;
	height: 100%;
	min-height: 1.3em;
	background-color: #0065FC;
	color: white;
	cursor: pointer !important;
	text-align: center;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	-o-border-radius: 0.3em;
}

/***************************/
/********** Header *********/
/**************************/

header {    
    background-color: #fff;
    padding: 1em 0; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column wrap;
}

.logo img {
    position: absolute;
    left: 2em;
    top: 1.5em;
}

#signin {
    position: absolute;
    right: 0.5em;
    top: 2.5em;
}

#signin a {
    margin-right: 1.2em;
    color: #0065FC;
    font-weight: bolder;
    font-size: 1.2em;
}

nav {
    margin: 0.7em 0.7em;
    padding-top: 2.5em;
    width: 100%
}

nav ul {
    padding: 1em 0.8em;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;    
    text-align: center;
}

nav li {
    width: 100%;
    border-bottom: 0.1em solid #f2f2f2;
}

nav ul li:first-child {
    border-bottom: 0.2em solid #0065fc;
}

nav a {
    text-align: center;
    font-weight: bold;
}

nav a :hover {
    color: #0065fc;
    border-top: 0.125em solid #0065fc;
}

nav a:active {
    color: #0065fc;
    border-bottom: 0.2em solid #0065fc;
}

nav ul li:first-child a {
    color: #0065FC;
}

/*******Slogan******/
.slogan {
    padding: 0.5em 1em;
    text-align: left;
}

h1 + h2 {
    padding-top: 1em;
}

.slogan h2 {
    font-weight: normal;
}

/*******barre de recherche******/
.searchbar{
    text-align: center;
    margin: 0 1em 1em 1em;
    width: 100%;
}

.searchbar > i {
    color: #000;
    background-color: #F2F2F2;
    border-top-left-radius: 0.75em;
    border-bottom-left-radius: 0.75em;
    width: 3.125em;
    height: 3.125em;
    font-size: 1.5em;
    line-height: 3.125em;     
    text-align: center;
    vertical-align: bottom;
}

input {
    border: 0.125em solid #F2F2F2;
    color: #000;
    font-weight: bold;
    height: 3.125em;
}

#loupe > i {
    background-color: #0065FC;
    color: #ffffff;
    border-radius: 0.75em;
    width: 3.125em;
    height: 3.125em;
    font-size: 1.5em;
    line-height: 3.125em;
    text-align: center;
    vertical-align: bottom;
    transform: translateY(35%);
    -webkit-transform: translateY(35%);
    -moz-transform: translateY(35%);
    -ms-transform: translateY(35%);
    -o-transform: translateY(35%);
    -webkit-border-radius: 0.75em;
    -moz-border-radius: 0.75em;
    -ms-border-radius: 0.75em;
    -o-border-radius: 0.75em;
}

.rechercher {
    display: none;
}

/********filters******/
.filters {
    display: flex;
    flex-direction: row;
    min-height: 1.25em;
    flex-wrap:wrap;
    align-content: space-around;
    max-width: 100%;
    width: 100%;
    margin-top: 0.5em;
}

.filters > h2 {
    font-weight: bold;
    padding-left: 1em;
    padding-bottom: 1em;
    align-items: center;
    justify-self: flex-start;
    width: 80%;
}

.filterbutton {
    display: flex;
    flex-wrap: nowrap;
    background-color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    height: 3.125em;
    border-radius: 1.56em 1.56em;
    border: 0.125em solid #f2f2f2;
    align-items: center;
    -webkit-border-radius: 1.56em 1.56em;
    -moz-border-radius: 1.56em 1.56em;
    -ms-border-radius: 1.56em 1.56em;
    -o-border-radius: 1.56em 1.56em;
    padding-right: 1em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.filterbutton i {
    background-color: #deebff;
    width: 3.125em;
    height: 3.125em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    line-height: 3.125em;
    text-align: center;
    margin-right: 1em;
    color: #0065FC;
    font-size: 1.2em;
}

.filterbutton:hover {
    background-color: #0065FC;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/********Info******/
#info {
    margin-left: 0.5em;
    margin-top: 1.5em;
    margin-right: 0.5em;
    max-width: 37.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

#info i {
    font-size: 0.8em;
    margin-right: 0.5em;
    color: #0065FC;
    border: 0.125em solid #DEEBFF;
    width: 1.875em;
    height: 1.875em;
    border-radius: 50%;
    text-align: center;
    line-height: 1.875em;
}

/* Fin du header*/


/*********************************/
/******Partie principale**********/
/*********************************/
#container > aside {
	order: 1; /*ON AFFICHE LES PLUS POPULAIRES EN PREMIER*/
}

#container > #hebergement {
	order: 2; /*ON AFFICHE ENSUITE LES HEBERGEMENTS*/
}

#container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cards {
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 0 1 99%;
 }

.card {
    display: flex;
    justify-content: space-around;
    flex: 0 1 99%;
    background: white;
    border-radius:1.56em;
    box-shadow: 0.2em 0.2em #F2F2F2;
    -webkit-border-radius:1.56em;
    -moz-border-radius:1.56em;
    -ms-border-radius:1.56em;
    -o-border-radius:1.56em;
}

.card > a {
    width: 100%;
}

.card-content {
	padding-left: 1.4em;
    margin-top: 1em; 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card-content h3 {
    margin-right: 0.5em;
	margin-bottom: 0.5em;
	font-weight: bold;
    justify-content: start;
}

.card-content p {
	font-size: 80%;
}

.rating {
    padding-left: 0;
    padding-top: 0.5em;
    font-size: 1.4em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.greystars {
    color: grey;
}

.bluestars{
    color: #0065FC;
}

.plus {
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 0.94em;
}

.title {
   font-weight: bold;
}


/*******HEBERGEMENT*******/
#hebergement {
    max-width: 100%;
    background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
    padding: 2em 1em;
}

#hebergement .card { 
    flex-wrap: wrap;
    margin: 1em 0;
}

#hebergement .card > a { 
    flex-wrap: wrap;
    margin: 1em 0;
}

#hebergement .card-title + .rating {
    padding-top: 1em;
}

#hebergement .card + .card {
    margin-top: 1em;
    margin-bottom: 1em;
}

#hebergement picture img {
	display: block;
    max-width: 100%;
    width: 95vw;
    height: 15vh;
    object-fit: cover;
    border-top-left-radius: 1.56em;
    border-top-right-radius: 1.56em;
}

/*******POPULAR*******/
#popular {
    max-width: 100%;
    background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
    padding: 2em 1em;
}

.popular_title {
    display: flex;
   justify-content: space-between;
    flex-flow: row nowrap; 
    width: 100vw;
    margin-right: 1em;
}

.title {
    display: flex;
    justify-content: flex-start;
}

.popular_title a {
    text-align: center;
    margin-left: auto;
    margin-right: 1.5em;
    font-size: 1.2em;
}

#popular .cards {   
    max-height: 35em;
}

#popular .card {   
    height: 10em;
}

#popular .card > a {
    display: flex;
    flex-wrap: nowrap;
}

#popular .card + .card {
    margin-top: 1em;
}

#popular picture {
    max-width: 50%;
}

#popular picture img {
	display: block;
    width: 33.3vw;
    height: calc(100% - 0.5em);
    object-fit: cover;
    border-top-left-radius: 1.56em;
    border-bottom-left-radius: 1.56em;
    margin: 0.3em;
}

#popular .card-content {
    padding-bottom: 0.5em;
}

/*******ACTIVITIES*******/
#activites {
    max-width: 100%;
    background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
    padding: 2em 1em;
    flex-wrap: nowrap;
}

#activites .card {
    display: flex;
    flex-direction: column;
}

#activites .card { 
    flex-wrap: nowrap;
    margin: 1em 0;
}

#activites.card > a { 
    flex-wrap: wrap;
    margin: 1em 0;
}

#activites .card + .card {
    margin-top: 1em;
    margin-bottom: 1em;
}

#activites picture img {   
    display: block;
    max-width: 100%;
    width: 96vw;
    height: 20vh;
    object-fit: cover;
    border-top-left-radius: 1.56em;
    border-top-right-radius: 1.56em;
}

#activites .card-content h3 {
    font-size: 0.9em;
    height: 3em;
}

/* Fin de la section principale*/

/************************/
/*** Début du footer*****/
/************************/
footer  {
	width: 100%;
	padding: 1.25em 0;
    background-color: #F2F2F2;
    min-height: 6.25em;
}

footer a{
    font-size: 0.9em;
    padding-top: 1em;
}

footer div {
    margin: 1em;
}

.about, .accomodations, .help {
    padding: 1em;
    line-height: 1em;
}

footer h2 {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: large;
}

footer a + a {
    margin: 1em;
}

/*********************************************/
/*********************RESPONSIVE**************/
/*********************************************/

/*******Smartphones paysage et tablettes portrait**************/

@media all and (min-width: 30em) {	
    #searchbar {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

   .card {
      justify-content: unset;
      flex: 1 1 calc(96% - 1em);
   }

    #popular picture img {
        width: 36vw;
        height: calc(100% - 0.5em);
    }

    #hebergement picture img {
        width: 96vw;
        height: 20vh;
    }

    #activites picture img {
        width: 96vw;
        height: 25vh;
    }
    
}

/*******Tablettes et iPad**************/
@media all and (min-width: 48em)  {
    header{
        align-items: unset;
    }

     .slogan {
        margin: 1em 1em;
        width: 100%;
    }

    .searchbar {
        margin-left: 1em;
        margin-right: 1em;
        text-align: left;
        display: flex;        
    }

    #loupe {
        display: none;
    }

    .filters > h2 {
        width: 100%;;
    }

    .rechercher {
        display: block;
        background-color: #0065FC;
        color: #ffffff;
        border-top-right-radius: 0.75em;
        border-bottom-right-radius: 0.75em;
        width: 9.375em;
        height: 3.125em;
        font-size: 1.2em;
        line-height: 3.125em;
        text-align: center; 
    }
    
    #popular {
        padding-bottom: 0;
    }

    #popular .cards {
        width: 100%;
        max-height: unset;
    }

    #popular .card:nth-child(1) {
        margin: 1em 0;
    }
    
    #popular .card {
     width: calc(50% - 1em);
    }

    #popular .card + .card {
       margin: 0.5em  0 0 0;
    }

    #popular picture img {
        width: 40vw;
        height: calc(100% - 0.5em);
    }

    #hebergement {
        flex-wrap: nowrap;
        padding-bottom: 0;
    }

    #hebergement .card {
        flex: 0 1 calc(50% - 1em);
    }

    #activites {
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    #activites .cards {
        display: flex;
    }

    #activites .card {
        display: flex;
        flex: 0 1 calc(50% - 1em);
    }
    #activites .card > a {
        display: unset;
    }

    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
}

/*******Desktop**************/
@media all and (min-width: 64em){		
	 #container {
        flex-direction: row-reverse;
        flex-wrap: nowrap;
	}

    nav {
        width : 30%;
        position: absolute;
        top: -1.5em;
        right: 7em;
    }

    nav li {
        border: none;
        padding-left: 1em;
    }

    nav ul li:first-child {
        border-top: 0.2em solid #0065fc;
        border-bottom: none; 
    }  
    
    nav ul li:first-child a {
        color: #0065fc;
    } 

    .slogan {
        margin-top: 3em;
    }

    .filters > h2 {
        width: unset;
        align-self: center;
        padding-right: 1em;
    }

    aside {
		background-color: #c8e6c9;
		color: rgb(66, 66, 66);
        width: 33%;
	}
      
    #hebergement {
        background-color: #F2F2F2;
        width: 66%;
    }

    .card {
        display: unset;
    }

    .plus {
        align-self: flex-end;
    }

    #hebergement .card {
        flex: 0 1 calc(32% - 1em);
    }

     
    #hebergement .card-content  {
        flex-flow: column nowrap;
        justify-content: space-between;
        height: 12vh;
    }
   
    #hebergement .card-title + .rating {
        padding-top: 0;
    }

    #popular {
        width: 33%;
    }

    .popular_title {
        width: unset;
    }

    #popular .card {
        width: calc(33% - 1em);
        height: 25vh;
        flex-grow: 0;
        flex-shrink: 0;
    }

    #popular .card + .card {
        margin: 0 0 1em 0;
    }

    #popular picture {
        max-width: 50%;
       max-height: 25vh;
    }

    #popular picture img {
        width: 10vw;
        height: calc(100% - 0.5em);
        padding-right: 0.2em;
    }
      
    #popular .card-content  {
        flex-flow: column nowrap;
        justify-content: space-between;
        height:  22vh;
    }

    #popular .card-title + .rating {
        padding-top: 0;
    }

    #activites {
        max-width: 97%;
    }

    #activites .cards {
        display: flex;
        flex-direction: column ;
        flex-wrap: wrap;
        max-height: 68vh;
        justify-content: unset;
        padding: 0;
    }

    #activites .card {
        flex: 0 1 calc(20% - 1em);
        margin: 1em; 
        max-height: 100%;
    }

    #activites .card > a {
        height: 100%;
    }

    #activites .cards .z1 {
        margin-left: 0;
    }

    #activites .cards > .card:nth-child(1) {  
        width: calc(20% - 1em);
        max-height: 68vh;
        height: 65vh;
    }

	#activites .cards > .card:nth-child(2) { 
        width: calc(25% - 1em);
        max-height: 30vh;
    }

	#activites .cards > .card:nth-child(3) { 
        width: calc(25% - 1em);
        max-height: 30vh;
        margin-top: 1em;
        padding-top: 0;
    }

    #activites .cards > .card:nth-child(4) {  
        width: calc(25% - 1em);
        max-height: 68vh;
        height: 65vh;
    }

	#activites .cards > .card:nth-child(5) { 
        width: calc(25% - 1em);
        max-height: 30vh;
    }

	#activites .cards > .card:nth-child(6) { 
        width: calc(25% - 1em);
        max-height: 30vh;
        margin-top: 1.25em;
        padding-top: 0;
    }
   
    #activites .z1 picture img,
    #activites .z4 picture img {
        width: 100%;
        height: 45vh;
    }

    #activites .z2 picture img, #activites .z3 picture img,
    #activites .z5 picture img,  #activites .z6 picture img {
        width: 100%;
        height: 15.5vh; 
    }

    #activites .card-content {
        max-height : 18vh;
        height: 8vh;
        padding-top: 1em;
        text-align: center;
        margin-top: 0.5em;
    }
}

/*******Large screens**************/
@media all and (min-width: 80em) {
    body { 
        width: 70vw; 
        margin-left: auto;
        margin-right: auto;
    }

    header {
        max-width: 70vw;
    }

    .logo img {
        position: inherit;
        margin-left: 2em;
    }

    header > #signin {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 20vw
    }

    
    header > nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 30vw
    }

    
    #hebergement {
        width: 66vw;
    }

    #popular {
        width: 33vw;
    }
    #activites .cards {
        max-height:  75vh;
    }

    #activites .cards > .card:nth-child(3) { 
        margin-top: 1.5em;
    }	

    #activites .cards > .card:nth-child(5) { 
        margin-top: 1.5em;
    }	
    

    /*

	#activites .cards > .card:nth-child(2) { 
        width: 25vw;
        max-height: 25vh;
    }

	#activites .cards > .card:nth-child(3) { 
        width: 25vw;
        max-height: 25vh;
        margin-top: 2.3em;
        padding-top: 0;
    }
  #activites .cards > .card:nth-child(4) {  
        width: 25vw;
        max-height: 60vh;
        height: 50vh;
    }
    #activites .cards > .card:nth-child(5) { 
        width: 25vw;
        max-height: 25vh;
    }

	#activites .cards > .card:nth-child(6) { 
        width: 25vw;
        max-height: 25vh;
        margin-top: 2.3em;
        padding-top: 0;
    }

    #activites .z1 picture img,
    #activites .z4 picture img {
        width: 100%;
        height: 49vh;
    }

    #activites .z2 picture img, #activites .z3 picture img,
    #activites .z5 picture img,  #activites .z6 picture img {
        width: 100%;
        height: 20vh; 
    }

    #activites .card-content {
        max-height : 5vh;
        padding-top: 1em;
        text-align: center;
        height: 4em;
        margin-top: 0.5em;
    }*/
}

@media all and (min-width: 100em) {	
    
}


 

/* Version grid pour la partie desktop activites*/
/*
    #activites .cards {
        display: grid;
        max-height: 40vh;
    }

    #activites .card {
        display: flex;
    }

    #activites .card > a {
        height: 100%;
    }

    #activites .card-content {
       max-height : 2.5vh;
       padding-top: 5px;
       text-align: center;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1.2em 1em;
        justify-content: space-around;
        grid-template-areas:
          "z1 z2 z4 z5"
          "z1 z3 z4 z6";
    }

    .z1 { grid-area: z1; }
    .z2 { grid-area: z2; }
    .z3 { grid-area: z3; }
    .z4 { grid-area: z4; }
    .z5 { grid-area: z5; }
    .z6 { grid-area: z6; }

    #activites .z1 picture img, #activites .z4 picture img {
        width: 100%;
        height: 34vh;  
    }

    #activites .z2 picture img, #activites .z5 picture img {
        width: 100%;
        height: 15vh;  
    }

    #activites .z3 picture img, #activites .z6 picture img {
        width: 100%;
        height: 13vh;
    }
*/
/*fin version grid*/


	

    